/*==========================

About Page Style

===========================*/
body{
	background-image: url("../images/whirlpool.png");
}

header{
	background-color:#fff;

}
#socialMedia img{
	width:50px;
}


footer{

	border-top-style: solid;
	border-top-width: 5px;
	border-color:#4aaaa5;;
	background-color:#999;
	color:white;
	padding-top:25px;
	text-align:center;
	font-size:18px;

	/*height:50px;
	clear:both;
	padding-top:25px;
	text-align:center;
	font-size:18px;
	min-height: calc(10vh - 2em);
	*/
}
.image img {
    width:350px;
}



figure{
	position:relative;
	float:left;
	margin-left:15px;
	margin-top:15px;
	margin-bottom:20px;
}

figcaption{
	background-color:#4aaaa5;
	color:white;
	text-align:center;
	position: absolute;
    font-size: 25px;   
    float:right;
    bottom:25px;
    width:100%;

}

/*==========================

Contact Page Style

===========================*/



/*==========================

Gallery Page Style

===========================*/


/*=======================
Media Queries
=======================*/

@media (min-width: 980px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 640px) { ... }